#nav {
  height: 58px;
  padding: 0 10%;
  z-index: 5;
}

#hamburger_list {
  position: fixed;
  width: 100%; /* ขยายให้เต็มจอ */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.33s ease;
  z-index: 5;

}

#hamburger_list.open {
  max-height: 200px; /* ปรับเป็นความสูงที่ต้องการ */
}
